.container  {
    border: solid yellow;
}

.row {
    border: solid red;
    height: 100vh;
}

.col {
    border: solid blue;
}

.welcome {
    display: flex;
    align-items: center;
    text-align: center;
}