.container {
    border: solid yellow;
}

.welcome {
    border: solid red;
    display: flex;
    flex-direction: column;
    height: 95vh;
    position: relative;
}

.heading1 {
    margin-top: 50%;

}


.welcome {
    display: flex;
    align-items: center;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
}

#scroll{
position: absolute;
bottom: 0%;
}
