html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #332D2D;


}

nav {
    background-color: #332D2D !important;
    color: rgb(248, 245, 221) !important;
    /* how to make the navbar sticky */
    position: fixed;

}

.sidenav {
    background-color:  rgb(248, 245, 221) !important;
    height: 25vh;
}

.container {
    /* border: solid yellow; */
    width: 100%;
    margin-top: 5px;
}

.col {
    border: solid #332D2D;
    margin: 5px;
}

.row {
    /* border: solid red; */
    margin: 0%;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../images/background.jpg) no-repeat center fixed;
    /* border: solid red; */
    border: solid #332D2D;
    flex-direction: column;
    position: relative;
    height: 100vh;
    margin: 0%;
}

.welcometxt {
    animation-duration: 2s;
    font-size: 5rem;
    color: rgb(248, 245, 221);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    text-shadow:
        1px 1px 1px #332D2D,
        1px 2px 1px #332D2D,
        1px 3px 1px #332D2D,
        1px 4px 1px #332D2D,
        1px 5px 1px #332D2D,
        1px 6px 1px #332D2D,
        1px 7px 1px #332D2D,
        1px 8px 1px #332D2D,
        1px 9px 1px #332D2D,
        1px 10px 1px #332D2D,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

.welcomebox{
    border: none;

}

img {
    width: 1915px;
    height: 940px;
}

#enter {
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 10;
    position: absolute;
    transform: translate(-50%);
    bottom: 0%;
    left: 40%;
    font-size: 2rem;
    color: rgb(248, 245, 221);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-shadow:
        1px 1px 1px #332D2D,
        1px 2px 1px #332D2D,
        1px 3px 1px #332D2D,
        1px 4px 1px #332D2D,
        1px 5px 1px #332D2D,
        1px 6px 1px #332D2D,
        1px 7px 1px #332D2D,
        1px 8px 1px #332D2D,
        1px 9px 1px #332D2D,
        1px 10px 1px #332D2D,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

#aboutmeheader{
    margin-top:20%;
}
.aboutMeContent{
    display: flex;
}

.aboutMeImage {
    /* position: relative; */
    width: 50%;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#banner-aboutme {
    color: rgb(248, 245, 221);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    color: #332D2D;
    text-shadow:
    1px 1px 1px #332D2D,
    1px 2px 1px #332D2D,
    /* 1px 3px 1px #332D2D,
    1px 4px 1px #332D2D,
    1px 5px 1px #332D2D,
    1px 6px 1px #332D2D,
    1px 7px 1px #332D2D,
    1px 8px 1px #332D2D,
    1px 9px 1px #332D2D,
    1px 10px 1px #332D2D, */
    1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

p{
font-size: 20px;
margin-top: 10px;
margin-bottom: 10px;
}