html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #332D2D;
    /* background-color: rgb(248, 245, 221); */
}

nav {
    background-color: #332D2D !important;
    color: rgb(248, 245, 221) !important;
    /* how to make the navbar sticky */
    position: fixed;
}

.sidenav {
    background-color: rgb(248, 245, 221) !important;
    height: 25vh;
}

.container {
    border: solid #332D2D;
    width: 100%;
    margin-top: 5px;
}

.col {
    /* margin: 5px;
    padding-bottom: 5% !important; */
}

.row{
   margin-bottom: 0% !important; 
}

.m{
    display: flex;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../images/background.jpg) center;
    -webkit-background-size: cover;
    background-size: cover;
    border: solid #332D2D;
    flex-direction: column;
    position: relative;
    height: 90vh;
    margin: 0%;
}

.welcometxt {
    animation-duration: 2s;
    font-size: 5rem;
    color: rgb(248, 245, 221);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    text-shadow:
        1px 1px 1px #332D2D,
        1px 2px 1px #332D2D,
        1px 3px 1px #332D2D,
        1px 4px 1px #332D2D,
        1px 5px 1px #332D2D,
        1px 6px 1px #332D2D,
        1px 7px 1px #332D2D,
        1px 8px 1px #332D2D,
        1px 9px 1px #332D2D,
        1px 10px 1px #332D2D,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

.welcomebox {
    border: none !important;
}

img {
    width: 1915px;
    height: 940px;
    z-index: -1;
}

iframe{
    z-index: -1;
}

#enter {
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 10;
    position: absolute;
    transform: translate(-50%);
    bottom: 10% !important;
    left: 38% !important;
    font-size: 2rem;
    color: rgb(248, 245, 221);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-shadow:
        1px 1px 1px #332D2D,
        1px 2px 1px #332D2D,
        1px 3px 1px #332D2D,
        1px 4px 1px #332D2D,
        1px 5px 1px #332D2D,
        1px 6px 1px #332D2D,
        1px 7px 1px #332D2D,
        1px 8px 1px #332D2D,
        1px 9px 1px #332D2D,
        1px 10px 1px #332D2D,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

.aboutmecontainer {
    display: flex;
}

.aboutmeheader {
    animation-duration: 2s;
}

.aboutmeheader2 {
    animation-duration: 2s;
}

h2 {
    margin-top: 20%;
    color: #332D2D;
    text-shadow:
        1px 1px 1px #332D2D,
        1px 2px 1px #332D2D,
        /* 1px 3px 1px #332D2D,
    1px 4px 1px #332D2D,
    1px 5px 1px #332D2D,
    1px 6px 1px #332D2D,
    1px 7px 1px #332D2D,
    1px 8px 1px #332D2D,
    1px 9px 1px #332D2D,
    1px 10px 1px #332D2D, */
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.clpbox {
    padding: 10px;
    background-color: rgba(51, 45, 45, 0.808);
}

i {
    margin-right: 10px;
}

@media only screen and (min-width: 500px) {
    .welcome {
        height: 100vh;
    }

    #enter {
        left: 42% !important;
    }

    h2 {
        margin-top: 15%;
    }
}

@media only screen and (min-width: 680px) {
    #enter {
        left: 43% !important;
    }

    h2 {
        margin-top: 12%;
    }

    p{
        font-size: 20px;
    }
}


@media only screen and (min-width: 750px) {
    #enter {
        left: 42% !important;
        font-size: 3rem;
    }
    .aboutMeImage{
        height:60%;
        width: 60%;
    }
    #search{
        width: 70%;
        height: auto;
    }

}

@media only screen and (min-width: 900px) {
    h2 {
        margin-top: 10%;
    }
    p{
        font-size: 25px;
    }
}

@media only screen and (min-width: 1000px) {
    #enter {
        left: 43% !important;
        font-size: 3rem;
    }

    .welcometxt {
        font-size: 6rem;

    }

    h2 {
        margin-top: 8%;
    }
}

@media only screen and (min-width: 1200px) {
    #enter {
        left: 45% !important;
        font-size: 3rem;
    }

    .welcometxt {
        font-size: 8rem;
    }
    h2 {
        margin-top: 6%;
    }
}

@media only screen and (min-width: 1500px) {
    #enter {
        font-size: 4rem;
    }

    .welcometxt {
        font-size: 10rem;
    }
}